/* line 3, ../sass/page.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/page.sass */
.XD-block {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 13, ../sass/page.sass */
.XD-item {
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  background-color: yellow;
}

/* line 20, ../sass/page.sass */
.XD-content {
  display: none;
  position: absolute;
  padding: 1em;
}

/* line 26, ../sass/page.sass */
.XD-item-btn {
  display: block;
  position: absolute;
  bottom: 25%;
  width: 20%;
  padding: 0.2em 2em;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 30px;
  opacity: 0.5;
}

/* line 38, ../sass/page.sass */
.XD-mask {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}

/* line 47, ../sass/page.sass */
.XD-info {
  height: 150px;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: fixed;
  color: white;
  opacity: 0.8;
  border-style: solid;
  border-width: 0 100px 150px 100px;
  border-color: transparent transparent #000000 transparent;
  line-height: 0px;
  _border-color: #ffffff #ffffff #000000 #ffffff;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
