/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/screen.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/screen.sass */
#bg {
  background-color: yellow;
  height: 100%;
  background-size: cover;
}

/* line 39, ../sass/screen.sass */
.show {
  width: 100px;
  height: 50px;
  background-color: purple;
}

/* line 44, ../sass/screen.sass */
.XD-topic {
  width: 100%;
  height: 100%;
  display: none;
  z-index: -10;
}

/* line 55, ../sass/screen.sass */
.XD-topic-item1 {
  left: 30%;
  top: 38%;
  display: block;
  position: fixed;
  font-family: "arial";
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: red;
}
/* line 23, ../sass/screen.sass */
.XD-topic-item1:hover {
  background-color: red;
  color: white;
}

/* line 60, ../sass/screen.sass */
.XD-topic-item2 {
  left: 45%;
  top: 26%;
  display: block;
  position: fixed;
  font-family: "arial";
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: purple;
}
/* line 23, ../sass/screen.sass */
.XD-topic-item2:hover {
  background-color: red;
  color: white;
}

/* line 65, ../sass/screen.sass */
.XD-topic-item3 {
  left: 65%;
  top: 37%;
  display: block;
  position: fixed;
  font-family: "arial";
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: purple;
}
/* line 23, ../sass/screen.sass */
.XD-topic-item3:hover {
  background-color: red;
  color: white;
}

/* line 70, ../sass/screen.sass */
.XD-topic-item4 {
  left: 30%;
  top: 58%;
  display: block;
  position: fixed;
  font-family: "arial";
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: purple;
}
/* line 23, ../sass/screen.sass */
.XD-topic-item4:hover {
  background-color: red;
  color: white;
}

/* line 75, ../sass/screen.sass */
.XD-topic-item5 {
  left: 57%;
  top: 61%;
  display: block;
  position: fixed;
  font-family: "arial";
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: purple;
}
/* line 23, ../sass/screen.sass */
.XD-topic-item5:hover {
  background-color: red;
  color: white;
}
